h1{
    text-align: center;
}

p{
    text-align: center;
}
h1{
    background-color: cornflowerblue;
}
footer{
    background-color:azure;

}
.logo{ 
    width: 300px;
}
h3{
    background-color: white;

}
H1{
    font-family: 'Courier New', Courier, monospace;

}
.pintura1{
     border-radius: 3px;
     border: pink;

}
.pintura2{
    border-radius: 3px;
    border:pink;

}
.pintura3{
    border-radius: 3px;
    border:pink;

}


