h1{text-align: center;

}
p{text-align: center;

}
h1{background-color: cornflowerblue;

}
footer{background-color:azure;

}
.brabuleta{ 
    width: 300px;
}
h3{background-color: white;

}
H1{font-family: 'Courier New', Courier, monospace;

}
.girassol{border-radius: 3px;
     border: black

}
.quadrinhos{border-radius: 3px;
    border: black;

}
.paisagem{border-radius: 3px;
    border: black;

}

